.kopfzeile {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);

  h1 {
    display: flex;
    background-color: var(--color-white);
  }
}

.nav-bar {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
}

.nav-item {
  flex: 1;
  padding: var(--xs);
  color: black;
  list-style-type: none;
  text-align: center;

  &:hover {
    background-color: var(--color-bg);
    font-weight: var(--fw-bold);
  }

  a {
    text-decoration-line: none;
  }
}

.suche {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--m);
  background-color: var(--color-white);
  color: #696969;
  vertical-align: center;

  h2 {
    padding: 0;
    margin: var(--s);
    font-size: var(--m);
    font-weight: var(--fw-regular);
  }
}


.item-list {
  padding: 0;
  margin: 0;

  &.is-grid{
    display: grid;
    gap: var(--m);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &.is-inline{
    display: inline-block;
    flex-wrap: wrap;
    gap: var(--m);
  }

  li {
    display: flex;
    align-items: center;
    padding: var(--s) var(--m) var(--s) var(--s);
    background-color: var(--color-lightest);

    /*
  Für die Icons:
  font family auf die icon font setzten
  dann den content auf den icon namen wie im div
  
  */
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--xxl);
      line-height: var(--l);
    }

    p,
    address {
      margin: 0;
      margin-left: var(--xxxl);
      font-size: var(--s);
      font-style: normal;
      font-weight: var(--fw-regular);
      line-height: var(--lh-tight);
    }

    h3 {
      margin: 0;
      font-weight: var(--fw-medium);
    }

    address {
      align-items: end;
      justify-content: start;
      margin: 0;
    }

    .text-space {
      text-align: left;
    }
  }
}

.wilkommensbanner {
  padding: var(--s);
  background-color: var(--color-orange);
  color: var(--color-white);
}

.verlaufcard {
  margin-top: var(--m);
  background-color: var(--color-lightest);

  figure {
    padding: 0;
    margin: 0;
  }

  figcaption {
    padding: var(--xs);
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  h3 {
    margin: 0;
    font-weight: var(--fw-bold);
  }

  address {
    margin: 0 0 var(--xxs) 0;
    font-size: var(--s);
    font-style: normal;
    font-weight: var(fw-light);
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: var(--xxxs);
  list-style-type: none;
}

.tag-item {
  padding: 0 var(--xs) 0 var(--xs);
  background-color: var(--color-bg);
  font-size: var(--xs);
  font-weight: var(--fw-medium);
}

/* fixen */
footer {
  padding: var(--s);
  background-color: var(--color-orange);
  color: var(--color-white);
  list-style-type: none;
  text-align: left;

  li::before {
    content: "» ";
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}
