.kopfzeile {
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;

  h1 {
    display: flex;
    background-color: var(--color-white);
  }
}

.nav-bar {
  background-color: var(--color-white);
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  list-style-type: none;
  flex: 1;
  text-align: center;
  padding: var(--xs);
  color: black;

  &:hover {
    background-color: var(--color-bg);
    font-weight: var(--fw-bold);
  }

  a {
    text-decoration-line: none;
  }
}

.suche {
  background-color: var(--color-white);
  color: #696969;

  margin-top: var(--m);
  align-items: center;
  display: flex;
  justify-content: space-between;
  vertical-align: center;

  h2 {
    margin: var(--s);
    padding: 0;
    font-weight: var(--fw-regular);
    font-size: var(--m);
  }
}

/* Fav List
---------------------------------------------------------------------------- */

.fav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Fav Item
---------------------------------------------------------------------------- */

.fav-item {
  background-color: var(--color-lightest);
  padding: var(--s) var(--m) var(--s) var(--s);
  margin: var(--s) 0 var(--s) 0;
  display: flex;

  align-items: center;

  /*
  Für die Icons:
  font family auf die icon font setzten
  dann den content auf den icon namen wie im div
  
  */
  &::before {
    position: absolute;
    font-size: var(--xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--l);
    top: 0;
    bottom: 0;
  }

  p,
  address {
    margin: 0;
    font-style: normal;
    margin-left: var(--xxxl);
    line-height: var(--lh-tight);
    font-weight: var(--fw-regular);
    font-size: var(--s);
  }

  h3 {
    margin: 0;
    font-weight: var(--fw-medium);
  }

  address {
    margin: 0;
    justify-content: start;
    align-items: end;
  }

  .text-space {
    text-align: left;
  }
}

.wilkommensbanner {
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: var(--s);
}

.verlaufcard {
  background-color: var(--color-lightest);
  margin-top: var(--m);

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption {
    padding: var(--xs);
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  h3 {
    margin: 0;
    font-weight: var(--fw-bold);
  }

  address {
    font-weight: var(fw-light);
    font-size: var(--s);
    font-style: normal;
    margin: 0 0 var(--xxs) 0;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xxxs);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tag-item {
  background-color: var(--color-bg);
  padding: 0 var(--xs) 0 var(--xs);
  font-size: var(--xs);
  font-weight: var(--fw-medium);
}

/*fixen*/
footer {
  list-style-type: none;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: var(--s);
  text-align: left;

  li:before {
    content: "» ";
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}


.cm{
  width: 1cm;
  background-color: red;
  height: 1cm;
}